$darkBlue: #00274a;
$iceBlue: #00abe2;
$skyBlue: rgba(0, 171, 226, 0.2);
$backdrop: rgba(0, 39, 74, 0.8);
$fairBlue: #01698b;
$deepBlue: #083964;
$white: #FFFFFF;
$black: #000000;
$darkBrown: #00274A;
$lightGrey: #e5e5e5;
$darkGrey: #3D3D3D;
$paleGrey: #ccd2d4;
$ash: #767676;
$pseudoAsh: #A1A1A1;
$silver: #dadada;
$lightSilver: #EFEFF4;
$lightAsh: #f0f0f0;
$fadedGrey: #C4C4C4;
$tintGrey: #878787;
$seaGreen: #00EFD1;
$yellow: #FFE882;
$darkYellow: #EEB644;
$red: #F93232;
$orange: #FD9797;
$disabled: #757575;
$secondaryBg: #F6FAFB;
$errorMain: #CF2C49;
$greenLighten: #81c784;
$yellowDarken: #f57f17;
$redDarken: #b71c1c;
$greenDarken: #1b5e20;